
<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
      </nb-layout-header>
      <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
        <img class="profile-img" *ngIf="loadavatar" src={{avatar}} alt="" srcset="">
        <img class="profile-img" *ngIf="!loadavatar" src="http://18.221.99.84/deal8_profile/profile11.png" alt="" srcset="">

 
            <nb-menu [items]="items">
            </nb-menu>
        

            <nb-card class="status">
              <nb-card-body>
                  <span><Strong class="ml-4">Account Status </Strong></span>
                  <span><Strong class="ml-5">{{statusUser}}</Strong></span>
              </nb-card-body>
          </nb-card>
      </nb-sidebar>
    <nb-layout-column>
        

        <nb-card>
            <nb-card-header> <h5>Contact us</h5></nb-card-header>
            <nb-card-body>
                <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="email.message" rows="10"></textarea>

            </nb-card-body>
            <nb-card-footer> <button nbButton status="primary" class="ml-2" (click)="sendEmail()" >Send</button>
            </nb-card-footer>
          </nb-card>
    </nb-layout-column>
</nb-layout>