.header-box {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    width: 40% !important;
}
.card-body {
    width: 220%;
}
.card {
    width: 40%;
}
img {
    margin-left: 10%;
}
h1.fw-normal {
    margin-left: 30%;
}

button {
    background-color: #8520d3 !important;
}
