<div class="row">
  <nb-card>
    <nb-card-body>
      <div class="main-box">
        <div class="heading">
          <button routerLink="/home" >home</button>

          sdsd
          <h3>Your Overall Standing</h3>
          <p>Evaluate your overall performance based on test and practice taken</p>
          <div class="row">
            <div class="col-md-3">
              <div class="box">
                <p class="text-center">Overall Accuracy</p>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>You</p>
                  </div>
                  <div class="col-md-6 text-style-right">
                  <b>No Activity</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>Social</p>
                  </div>
                  <div class="col-md-6 text-style-left">
                  <p>56.9%</p>
                  </div>
                </div>
                <div class="progress" style="height:5px;">
                  <div class="progress-bar bg-success" style="width:56%; height:10px;"></div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <p class="text-center">Practic Stamina</p>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>You</p>
                  </div>
                  <div class="col-md-6 text-style-right">
                  <b>No Activity</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>Social</p>
                  </div>
                  <div class="col-md-6 text-style-left">
                  <p>10 min 11sec</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <p class="text-center">Attempt Speed</p>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>You</p>
                  </div>
                  <div class="col-md-6 text-style-right">
                  <b>No Activity</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>Social</p>
                  </div>
                  <div class="col-md-6 text-style-left">
                  <p>1 min/Que</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="box">
                <p class="text-center">Behaviour Meter</p>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>You</p>
                  </div>
                  <div class="col-md-6 text-style-right">
                  <b>No Activity</b>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 text-style-left">
                    <p>Social</p>
                  </div>
                  <div class="col-md-6 text-style-left">
                  <p>56.9%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
