<nb-layout windowMode>
    <nb-layout-header fixed>
        <ngx-header></ngx-header>
    </nb-layout-header>
    <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
        <nb-menu [items]="items"> </nb-menu>
    </nb-sidebar>
    <nb-layout-column>
        <nb-card>
            <nb-card-header>Change Password</nb-card-header>

            <nb-card-body>
                <div class="container-fluid">


                    <div class="row mb-4">
                        <label class="col-12 col-md-2" for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control col-12 col-md-6" [(ngModel)]="change.password" aria-describedby="emailHelp"
                            placeholder="New Password" />
                    </div>
                    <div class="row mb-4">
                        <label class="col-12 col-md-2" for="exampleInputEmail1">Confirm New Password</label>
                        <input type="password" class="form-control col-12 col-md-6" [(ngModel)]="change.conPassword" aria-describedby="emailHelp"
                            placeholder="Confirm New Password" />
                    </div>

                   
                </div>
            </nb-card-body>
            <nb-card-footer> <button nbButton  size="small" class="ml-2" (click)=changePass()>Save</button>
            </nb-card-footer>

        </nb-card>
    </nb-layout-column>
</nb-layout>